.login-box {
    max-width: 400px; /* Ancho máximo de la caja */
    padding: 20px; /* Relleno interno */
    border: 1px solid #ccc; /* Borde */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    margin: 0 auto; /* Centrar horizontalmente */
    position: relative;
    background-image: url('city2.png'); /* Ruta a tu imagen de edificios */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center; /* Coloca la marca de agua en la parte superior e inferior */
  }
.login-background{
  background-image: url('fondoL2.jpg'); /* Ruta a tu imagen de edificios */
}