.home {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg,  #04040e, #151582);
    padding: 20px 20px 200px;
    align-items: center;
}

.home p {
    padding-top: 30px;
    padding-bottom: 0px;
    color: #f1f1f1
}

.pruebaImage{
    width: 500px;
    height: 350px;
    align-items:baseline;
}
.margins {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%; /* Ancho de los márgenes laterales */
    background: url('fondoL2.jpg') left left/cover no-repeat;
    
  }/*esto no esta andando*/

.callToAction{
    margin-top: 20px;
    /*margin-left: 10px;*/
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 20px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    border-radius: 50px; /*bordes redondos*/
}

/* Estilo para el botón deshabilitado */
.buttonDisabled {
    pointer-events: none; /* Evita eventos de puntero, incluyendo clics */
    opacity: 0.6; /* Opacidad reducida para indicar que está deshabilitado */
    /* Otros estilos que desees aplicar al botón deshabilitado */
  }

  .callToActionDisabled{
    margin-top: 20px;
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 15px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    border-radius: 50px; /*bordes redondos*/
    pointer-events: none; /* Evita eventos de puntero, incluyendo clics */
    opacity: 0.6; /* Opacidad reducida para indicar que está deshabilitado */
}