.home {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg,#04040e,#151582);
    padding: 20px 20px 50px;
    align-items: left;
    
}

.home p {
    padding: 15px;
    color: #f1f1f1;
    
}

.pruebaImage{
    width: 500px;
    height: 350px;
    align-items:baseline;
}

.callToAction{
    margin-top: 20px;
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 20px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    border-radius: 50px; /*bordes redondos*/
}

/* Estilo para el botón deshabilitado */
.buttonDisabled {
    pointer-events: none; /* Evita eventos de puntero, incluyendo clics */
    opacity: 0.6; /* Opacidad reducida para indicar que está deshabilitado */
    /* Otros estilos que desees aplicar al botón deshabilitado */
  }
